<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">

    <!-- Дополнительные стили для конкретных страниц -->
    {% block head_styles %}{% endblock %}
</head>
<body>
    <div class="dashboard-layout">
        {% block sidebar %}
            {% include "sidebar.html" %}
        {% endblock %}>
        <main class="main-content">
            {% block main_content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>